<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Crachá Digital</title>
    <link rel="stylesheet" href="Assets/css/cracha.css" />
  </head>
  <body>
    <div class="cracha">
      <h1>VISITANTE</h1>
      <img id="foto" class="foto" src="" alt="Foto de Perfil" />
      <h1 id="nome">Nome</h1>
      <p id="email">Email</p>
      <p id="empresa">Empresa</p>
    </div>

    <script type="module" src="Assets/scripts/cracha.js"></script>
  </body>
</html>
